<div class="row mx-0 bg-white">
	<div class="col-md-8">
		<form class="form p-3">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Tên Quản trị viên</label>
					<input type="text" class="form-control" ng-model="form.name">
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Giới tính</label>
					<div class="col-md-10">
						<div class="form-check-inline pr-3">
							<div class="admin-control admin-radio">
								<input type="radio" class="admin-control-input" id="0" name="available1"
									ng-model="form.available1" ng-value="true">
								<label class="admin-control-label" for="0">Nam</label>
							</div>
						</div>
						<div class="form-check-inline">
							<div class="admin-control admin-radio">
								<input type="radio" class="admin-control-input" id="1" name="available1"
									ng-model="form.available1" ng-value="false">
								<label class="admin-control-label" for="1">Nữ</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Mật khẩu</label>
					<input type="text" class="form-control" ng-model="form.pass">
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Nhập lại mật khẩu</label>
					<input type="text" class="form-control" ng-model="form.pass2">
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Email</label>
					<input type="text" class="form-control" ng-model="form.email">
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">SĐT</label>
					<input type="text" class="form-control" ng-model="form.telephone">
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Số CCCD</label>
					<input type="text" class="form-control" ng-model="form.alt_cccd">
				</div>
				<div class="col-12 col-md-6 col-lg-6 mb-3">
					<label class="form-label">Địa chỉ cụ thể</label>
					<input type="text" class="form-control" ng-model="form.address">
				</div>
				<div class="form-group row">
					<label class="col-12 col-md-6 col-lg-6 mb-3">Role - Quyền hạn</label>
					<div class="col-md-10">
						<div class="form-check-inline pr-3">
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="yes" name="available"
									ng-model="form.available" ng-value="true">
								<label class="custom-control-label" for="yes">Nhân viên</label>
							</div>
						</div>
						<div class="form-check-inline">
							<div class="custom-control custom-radio">
								<input type="radio" class="custom-control-input" id="no" name="available"
									ng-model="form.available" ng-value="false">
								<label class="custom-control-label" for="no">Admin</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="card-header text-center">
	<button ng-click="create()" class="btn btn-primary">
		<i class="fas fa-plus"></i> Thêm
	</button>
	<button ng-click="update()" class="btn btn-success">
		<i class="far fa-save"></i> Cập nhật
	</button>
</div>