@model ClssLib.San_Pham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>San_Pham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ten_san_pham" class="control-label"></label>
                <input asp-for="ten_san_pham" class="form-control" />
                <span asp-validation-for="ten_san_pham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mo_ta" class="control-label"></label>
                <input asp-for="mo_ta" class="form-control" />
                <span asp-validation-for="mo_ta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trang_thai" class="control-label"></label>
                <input asp-for="trang_thai" class="form-control" />
                <span asp-validation-for="trang_thai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngay_tao" class="control-label"></label>
                <input asp-for="ngay_tao" class="form-control" />
                <span asp-validation-for="ngay_tao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngay_sua" class="control-label"></label>
                <input asp-for="ngay_sua" class="form-control" />
                <span asp-validation-for="ngay_sua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoi_tao" class="control-label"></label>
                <input asp-for="nguoi_tao" class="form-control" />
                <span asp-validation-for="nguoi_tao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoi_sua" class="control-label"></label>
                <input asp-for="nguoi_sua" class="form-control" />
                <span asp-validation-for="nguoi_sua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kieu_DangID" class="control-label"></label>
                <select asp-for="Kieu_DangID" class="form-control" asp-items="ViewBag.Kieu_DangID"></select>
                <span asp-validation-for="Kieu_DangID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Danh_MucID" class="control-label"></label>
                <select asp-for="Danh_MucID" class="form-control" asp-items="ViewBag.Danh_MucID"></select>
                <span asp-validation-for="Danh_MucID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loai_GiayID" class="control-label"></label>
                <select asp-for="Loai_GiayID" class="form-control" asp-items="ViewBag.Loai_GiayID"></select>
                <span asp-validation-for="Loai_GiayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mui_GiayID" class="control-label"></label>
                <select asp-for="Mui_GiayID" class="form-control" asp-items="ViewBag.Mui_GiayID"></select>
                <span asp-validation-for="Mui_GiayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Co_GiayID" class="control-label"></label>
                <select asp-for="Co_GiayID" class="form-control" asp-items="ViewBag.Co_GiayID"></select>
                <span asp-validation-for="Co_GiayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="De_GiayID" class="control-label"></label>
                <select asp-for="De_GiayID" class="form-control" asp-items="ViewBag.De_GiayID"></select>
                <span asp-validation-for="De_GiayID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chat_LieuID" class="control-label"></label>
                <select asp-for="Chat_LieuID" class="form-control" asp-items="ViewBag.Chat_LieuID"></select>
                <span asp-validation-for="Chat_LieuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

