@model WebBanGiay.Models.ViewModel.LoginViewmodel

@{
    ViewBag.Title = "Đăng nhập";
    
}



<div class="d-flex justify-content-center align-items-center vh-100" style="background: url(/coloshop-master/images/anhdep.jpg) center/cover no-repeat; filter: brightness(0.8);">
    <div class="p-5 bg-white shadow-lg rounded text-center" style="width: 450px; padding: 60px; ">
        <h3 class="fw-bold text-primary">Sign In</h3>
        <form asp-action="LoginAdmin" method="post">
            <div class="mb-4">
                <input type="text" class="form-control form-control-lg" id="Username" name="Username" required placeholder="Tên đăng nhập" />
            </div>
            <div class="mb-4 position-relative">
                <input type="password" class="form-control form-control-lg" id="Password" name="Password" required placeholder="Mật khẩu" />

            </div>
            <button type="submit" class="btn btn-primary w-100 rounded-pill btn-lg">Đăng nhập</button>
            <div class="mt-4">
                <a href="#" class="text-decoration-none">Quên <span class="text-primary">mật khẩu ?</span></a>
            </div>
            <div>
                <a asp-controller="Taikhoan" asp-action="Register" class="text-decoration-none">Tạo <span class="text-primary">tài khoản mới?</span></a>
            </div>
        </form>
    </div>
</div>
