@model ClssLib.De_Giay

<h4>De_Giay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ma" class="control-label"></label>
                <input asp-for="ma" class="form-control" />
                <span asp-validation-for="ma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ten_de_giay" class="control-label"></label>
                <input asp-for="ten_de_giay" class="form-control" />
                <span asp-validation-for="ten_de_giay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trang_thai" class="control-label"></label>
                <input asp-for="trang_thai" class="form-control" />
                <span asp-validation-for="trang_thai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mo_ta" class="control-label"></label>
                <input asp-for="mo_ta" class="form-control" />
                <span asp-validation-for="mo_ta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
