@model WebBanGiay.Areas.Admin.Models.ViewModel.PaymentResultViewModel


<h2>Kết quả thanh toán</h2>
@if (Model.IsSuccess)
{
    <p style="color: green">@Model.Message</p>
    <p>Mã hóa đơn: @Model.MaHoaDon</p>
}
else
{
    <p style="color: red">@Model.Message</p>
}
<a asp-action="Index">Quay lại bán hàng</a>

