<div class="main_slider" style="background-image:url(/coloshop-master/images/anhdep.jpg)">
			<div class="container fill_height">
				<div class="row align-items-center fill_height">
					<div class="col">
						<div class="main_slider_content">
							<h6>Bộ sưu tập thể thao 2025</h6>
							<h1>Giảm giá 30% cho sản phẩm mới</h1>
							<div class="red_button shop_now_button"><a href="#">Mua sắm ngay</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
