﻿<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="ThongKes" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Thống kê</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="SanPhamChiTiet" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Bán Hàng Tại Quầy</span>

                </a>
            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="HoaDon" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>

                </a>
            </li>
            <li class="nav-item dropdown ">
                <a class="dropdown-toggle" href="javascript:void(0);">

                    <span class="icon-holder">
                        <i class="fas fa-cubes"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>


                </a>
             

                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a asp-area="Admin" asp-controller="SanPham" asp-action="Index">Sản phẩm</a>
                        </li>
                        @* <li>
                            <a asp-area="Admin" asp-controller="SanPhamChiTiet" asp-action="Index">Sản phẩm Chi Tiết</a>
                        </li> *@
                        <li>
                            <a asp-area="Admin" asp-controller="DeGiay" asp-action="Index">Đế Giày</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="KieuDang" asp-action="Index">Kiểu dáng</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="CoGiay" asp-action="Index">Cổ Giày</a>
                        </li>
                        <li>

                            <a asp-area="Admin" asp-controller="AdminNguoiDungs" asp-action="Index">Màu Sắc</a>

                            <a asp-area="Admin" asp-controller="MauSac" asp-action="Index">Màu Sắc</a>



                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="DanhMuc" asp-action="Index">Danh Mục</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="ChatLieu" asp-action="Index">Chất liệu</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="KichThuoc" asp-action="Index">Kích Thước</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="LoaiGiay" asp-action="Index">Loại Giày</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="MuiGiay" asp-action="Index">Mũi Giày</a>
                    </li>

                </ul>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">
                        Giảm giá<span>
                            <span class="arrow">
                                <i class="arrow-icon"></i>
                            </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminNguoiDungs" asp-action="Index">Phiếu giảm giá</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminNguoiDungs" asp-action="Index">Đợt giảm giá</a>
                    </li>

                </ul>

            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminShippers" asp-action="okiiIndex">
                    <span class="icon-holder">
                        <i class="fas fa-shipping-fast"></i>
                    </span>
                    <span class="title">Quản lý Tài Khoản</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Khachhang" asp-action="Index">Khách Hàng</a>
                    </li>


                </ul>
            </li>

        </ul>
    </div>
</div>
