@model ClssLib.Phieu_Giam_Gia
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="page-content-wrapper">
    <div class="container-fluid">
        <!-- Tiêu đề trang -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item">
                                <a href="#">Adidas</a>
                            </li>
                            <li class="breadcrumb-item active">Giảm giá</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Phiếu giảm giá</h4>
                </div>
            </div>
        </div>



    </div>
    @{
        ViewData["Title"] = "Edit";
    }
    @{
        var taiKhoans = ViewBag.tai_khoans as IPagedList<ClssLib.Tai_Khoan>;
        string searchString = ViewBag.SearchString as string;
    }
    <!DOCTYPE html>
    <html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Phiếu Giảm Giá/ Edit</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        <style>
            body1 {
                font-family: Arial, sans-serif;
                margin: 20px;
                background-color: #f4f4f4;
            }

            .container {
                background: white;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }


            .page-header {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                color: black;
            }

            }
        </style>
    </head>
    <hr />
    <body1>

        <div class="container mt-12">

            <hr />
            <div class="row">
                <div class="col-md-12">
                    @{
                        var kieu = Model.kieu_giam_gia; // "CongKhai" hoặc "CaNhan"
                        var loai = Model.loai_phieu_giam_gia;
                    }

                    @if (kieu == 0)
                    {
                        <div class="row">
                            <!-- BÊN TRÁI: FORM PHIẾU GIẢM GIÁ -->
                            <div class="col-md-12">
                                <form asp-action="Edit" asp-controller="PhieuGiamGia" method="post" id="PhieuGiamGia">
                                    <!-- Bắt đầu chia hàng để có 2 cột: bên trái và bên phải -->
                                    <div class="row">

                                        <!-- CỘT BÊN TRÁI: Form nhập thông tin phiếu giảm giá -->
                                        <div class="col-md-5">
                                            <!-- Hiển thị lỗi nếu có -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="ten_phieu_giam_gia" class="control-label">Tên</label>
                                            <input asp-for="ten_phieu_giam_gia" class="form-control" />
                                            <span asp-validation-for="ten_phieu_giam_gia" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6" hidden>
                                            <label asp-for="nguoi_tao" class="control-label">Tên</label>
                                            <input asp-for="nguoi_tao" class="form-control" />
                                            <span asp-validation-for="nguoi_tao" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6" hidden>
                                            <label asp-for="ma" class="control-label">Mã</label>
                                            <input asp-for="ma" class="form-control" />
                                            <span asp-validation-for="ma" class="text-danger"></span>
                                        </div>
                                        
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="gia_tri_toi_thieu" class="control-label">Giá trị tối thiểu</label>
                                            <input asp-for="gia_tri_toi_thieu" class="form-control" />
                                            <span asp-validation-for="gia_tri_toi_thieu" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="so_tien_giam_toi_da" class="control-label">Số tiền giảm tối đa</label>
                                            <input asp-for="so_tien_giam_toi_da" class="form-control" />
                                            <span asp-validation-for="so_tien_giam_toi_da" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="so_luong" class="control-label">Số lượng</label>
                                            <input asp-for="so_luong" class="form-control" />
                                            <span asp-validation-for="so_luong" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="gia_tri_giam" class="control-label">Giá trị giảm</label>

                                            <div class="input-group-append">
                                                <input asp-for="gia_tri_giam" class="form-control" />
                                                @if (loai == 1)
                                                {
                                                            <button type="button" id="btnPercent" value="1" class="btn btn-warning active" onclick="setDiscountType(1)">%</button>
                                                }
                                                else
                                                {
                                                            <button type="button" id="btnDollar" value="0" class="btn btn-warning active" onclick="setDiscountType(0)">đ</button>
                                                }
                                            </div>
                                            <span asp-validation-for="gia_tri_giam" class="text-danger"></span>
                                        </div>
                                                <div class="form-group col-md-6" hidden>
                                                    <label asp-for="loai_phieu_giam_gia" class="control-label">Tên</label>
                                                    <input asp-for="loai_phieu_giam_gia" class="form-control" />
                                                    <span asp-validation-for="loai_phieu_giam_gia" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6" hidden>
                                                    <label asp-for="kieu_giam_gia" class="control-label">Tên</label>
                                                    <input asp-for="kieu_giam_gia" class="form-control" />
                                                    <span asp-validation-for="kieu_giam_gia" class="text-danger"></span>
                                                </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="ngay_bat_dau" class="control-label">Ngày bắt đầu</label>
                                            <input asp-for="ngay_bat_dau" class="form-control" />
                                            <span asp-validation-for="ngay_bat_dau" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="ngay_ket_thuc" class="control-label">Ngày kết thúc</label>
                                            <input asp-for="ngay_ket_thuc" class="form-control" />
                                            <span asp-validation-for="ngay_ket_thuc" class="text-danger"></span>
                                        </div>

                                            </div>

                                        </div>


                                            <!-- BÊN PHẢI: TÌM KIẾM + DANH SÁCH KHÁCH HÀNG -->
                                            <div class="col-md-6">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-search text-orange"></i>
                                                    </span>
                                                    <input type="text" id="searchInput" name="searchString" class="form-control" placeholder="Tên, SĐT hoặc Email">
                                                    <button class="btn btn-primary" id="searchButton">Lọc</button>
                                                </div>

                                                <div id="customerTableContainer">
                                                    @await Html.PartialAsync("_PartialKhachHang", taiKhoans)
                                                </div>

                                                @* <table class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                            <th>
                                            <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)" />
                                            </th>
                                            <th>Tên</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @if (ViewBag.tai_khoans != null && ((List<ClssLib.Tai_Khoan>)ViewBag.tai_khoans).Count > 0)
                                            {
                                            foreach (var tai_khoan in (List<ClssLib.Tai_Khoan>)ViewBag.tai_khoans)
                                            {

                                            if (tai_khoan.Vai_Tro.ten_vai_tro == "Khách hàng")
                                            {
                                            <tr>
                                            <td>
                                            <input type="checkbox" name="customerIds" value="@tai_khoan.ID" class="customer-checkbox" />
                                            </td>
                                            <td>@tai_khoan.ho_ten</td>
                                            <td>@tai_khoan.sdt</td>
                                            <td>@tai_khoan.email</td>

                                            </tr>
                                            }
                                            }
                                            }
                                            else
                                            {
                                            <tr>
                                            <td colspan="5">Không có khách hàng nào.</td>
                                            </tr>
                                            }

                                            </tbody>
                                            </table> *@
                                            </div>
                                        </div> <!-- Kết thúc .row chứa 2 cột -->
                                        <!-- Nút Thêm mới ở dưới, canh phải -->
                                        <div class="form-group text-right mt-3">
                                            <input type="submit" value="Thêm mới" onclick="generateCode()"
                                                   class="btn btn-primary" />
                                        </div>
                                </form>
                            </div>

                        </div>
                    }
                    else if (kieu == 1)
                    {
                        <form asp-action="Edit" asp-controller="PhieuGiamGia" method="post" id="PhieuGiamGia">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="ten_phieu_giam_gia" class="control-label">Tên</label>
                                    <input asp-for="ten_phieu_giam_gia" class="form-control" />
                                    <span asp-validation-for="ten_phieu_giam_gia" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6" hidden>
                                    <label asp-for="nguoi_tao" class="control-label">Tên</label>
                                    <input asp-for="nguoi_tao" class="form-control" />
                                    <span asp-validation-for="nguoi_tao" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6" hidden>
                                    <label asp-for="ma" class="control-label">Mã</label>
                                    <input asp-for="ma" class="form-control" />
                                    <span asp-validation-for="ma" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="gia_tri_toi_thieu" class="control-label">Giá trị tối thiểu</label>
                                    <input asp-for="gia_tri_toi_thieu" class="form-control" />
                                    <span asp-validation-for="gia_tri_toi_thieu" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="so_tien_giam_toi_da" class="control-label">Số tiền giảm tối đa</label>
                                    <input asp-for="so_tien_giam_toi_da" class="form-control" />
                                    <span asp-validation-for="so_tien_giam_toi_da" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="so_luong" class="control-label">Số lượng</label>
                                    <input asp-for="so_luong" class="form-control" />
                                    <span asp-validation-for="so_luong" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="gia_tri_giam" class="control-label">Giá trị giảm</label>

                                    <div class="input-group-append">
                                        <input asp-for="gia_tri_giam" class="form-control" />
                                        @if (loai == 1)
                                        {
                                            <button type="button" id="btnPercent" value="1" class="btn btn-warning" onclick="setDiscountType(1)">%</button>
                                        }
                                        else
                                        {
                                            <button type="button" id="btnDollar" value="0" class="btn btn-warning" onclick="setDiscountType(0)">đ</button>
                                        }
                                    </div>
                                    <span asp-validation-for="gia_tri_giam" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6" hidden>
                                    <label asp-for="loai_phieu_giam_gia" class="control-label">Tên</label>
                                    <input asp-for="loai_phieu_giam_gia" class="form-control" />
                                    <span asp-validation-for="loai_phieu_giam_gia" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6" hidden>
                                    <label asp-for="kieu_giam_gia" class="control-label">Tên</label>
                                    <input asp-for="kieu_giam_gia" class="form-control" />
                                    <span asp-validation-for="kieu_giam_gia" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="ngay_bat_dau" class="control-label">Ngày bắt đầu</label>
                                    <input asp-for="ngay_bat_dau" class="form-control" />
                                    <span asp-validation-for="ngay_bat_dau" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ngay_ket_thuc" class="control-label">Ngày kết thúc</label>
                                    <input asp-for="ngay_ket_thuc" class="form-control" />
                                    <span asp-validation-for="ngay_ket_thuc" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Sửa" class="btn btn-primary" />
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </body1>




    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script type="text/javascript">

            $(document).on("click", ".page-link", function (e) {
                e.preventDefault();
                let url = $(this).attr("href");

                $.get(url, function (data) {
                    $("#customerTableContainer").html(data);
                });
            });
            $(document).ready(function () {

                $('#searchButton').on('click', function (e) {
                    e.preventDefault();
                    const keyword = $('#searchInput').val();
                    const url = '/Admin/PhieuGiamGia/Customer?searchString=' + encodeURIComponent(keyword);

                    $.get(url, function (data) {
                        $('#customerTableContainer').html(data);
                    });
                });
            });

        </script>
    }
